*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;

}

/*H1 google font and glowing effect*/
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(243, 8, 8), 0 0 20px rgb(11, 7, 245), 0 0 30px #cc00ff, 0 0 40px #bff109, 0 0 50px #d81010, 0 0 60px #d940ff, 0 0 70px #ff8800;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #029dc0, 0 0 40px #029dc0, 0 0 50px #029dc0, 0 0 60px #029dc0, 0 0 70px #029dc0, 0 0 80px #029dc0;
    }
  }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/09/14/441923/79905134bf26db6ce6fd16fe831e6a9d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rock Salt', cursive;
}


header{
    font-size: 20px ;
    font-family: 'Rock Salt', cursive; 
}

main{
    font-size: 20px ;
    font-family: 'Rock Salt', cursive;
}

footer{

    color: #26a9fb;
    height: max-content;
    background: rgb(16, 16, 16);
    height: auto;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    padding-top: 30px;
}

.footer-content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: large;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;

}

.social-media li{
    margin: 0 10px;
}

.social-media a i{
    font-size: 1.1rem;
    color: rgb(235, 235, 235);
}

.social-media a:hover i{
    color: aqua;
}

.social-media a:visited i{
    color: rgb(235, 235, 235);
}

.footer-content h4{
    text-transform: capitalize;
    line-height: 3rem;
    font-size: 25px;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 3rem;
    font-size: 15px;
    
}

.footer-bottom{
    background-color: black;
    text-align: center;
    padding: 20px 0;
    width: 100vw;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}



/*H1 & main nav*/

h1{
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    color: #0bd2ff;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 3px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    
}


.main_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(255, 255, 255, 0.7);
    

}

ul a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 5px;
}

.nav_el{
    color:rgb(255, 255, 255, 0.7);
    text-decoration: none;
    justify-content: space-between;
    
    
}

.specific_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    padding-top: 60px;
    text-align: center; 
    
}

/*Secondary navigation div CSS*/


.specific_nav_items{
    border-radius: 3px;  
    text-decoration: none;
    color:rgb(255, 255, 255, 0.7);

}


.specific_nav_items:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 5px;
}

.specific_nav_items:visited{
    
    color:rgb(255, 255, 255, 0.7)
}

.img_div_column{

    width: 500px;
    height: 360px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    order: 0;
    
    
}

/*Arrow directions*/
.img_div_row{

    width: 100%;
    height: auto;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-left: -10px;
    
    
}

.div_left_arr{
    
    order: -1;
}

.div_right_arr{

    order: 0;

}

.sample_img{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    order: 1;    
}

/*Cart and specs buttons CSS*/
.carrito a{
    color:rgb(255, 255, 255, 0.7);
    text-decoration: none;
    border: #0057ae solid 2px;
    border-style:inset;
    border-radius: 5px;
    
}
.carrito a:hover{
    
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 5px;
    
}   

.specs_div a{
    color:rgb(255, 255, 255, 0.7);
    text-decoration: none;
    border: #0057ae solid 2px;;
    border-style:inset;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
}
.specs_div a:hover{
    
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 5px;
    border: #029dc0 solid 2px;
    border-style:inset;
    border-radius: 5px;
}




/*Navigation arrows CSS*/
.button_left, .button_right {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #255784;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #0b4fe1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    
}
   
button:disabled {
    pointer-events: none;
}
   
button:hover {
    color: #fff;
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(3px);
}
   
button:active {
    box-shadow: none;
    transform: translateY(0);
}

   /*Form CSS*/

form { max-width:420px; margin:50px auto; }

.feedback-input {
    color:rgb(255, 255, 255, 0.7);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #0786c6;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#26a9fb;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:rgb(255, 255, 255, 0.7);
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover {

    
    transform: rotateY(20deg);
    
}

/*Products CSS & H2*/

h2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #842727;
    text-align: center;
    margin-top: 30px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    user-select: none;
    font-size: 30px;
    color: white;
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 5s linear infinite backwards;
       
}
@keyframes slide {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 600vw;
    }
  }

div img{ 
    width: 100%;
    height: 70%;
    border-radius: 50px;  
}


.main_container_products{

    max-width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
    margin: 50px;

}


/*Quiénes Somos CSS and h3*/

.main_div_customer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 150px;
}

.iframe_div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 50px;
    
    
}

.text_div{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: right;
    color: rgb(255, 255, 255, 1);
    padding: 50px;
    
}

.main_h3{
    background-color: aliceblue;
}

h3{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #26a9fb;
    background-color: rgb rgb(139, 220, 243);
}

.opinion_cliente{
    background-color: #4d4d4d;
}

/*Product buttons CSS*/

.main_img_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.anadir_div{
    display: flex;
    flex-direction: column;
    width: 400px;   
    align-self: center;
    
}
.specs_div{
    display: flex;
    flex-direction: column;
    width: 400px;   
    align-self: center;
}


.anadir_btns{
    height: 30px;
    color:rgb(255, 255, 255, 0.7);
    background-color: transparent;
    text-decoration: none;
    border: #0057ae solid 2px;
    border-style:inset;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    
}

.specs_btns{
    height: 30px;
    color:rgb(255, 255, 255, 0.7);
    background-color: transparent;
    text-decoration: none;
    border: #0057ae solid 2px;
    border-style:inset;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    
}

.specs_btns:hover {
    transform: rotateY(20deg);
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 5px;
    margin-left: 10px;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.anadir_btns:hover{
    transform: rotateY(20deg);
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 5px;
    margin-left: 10px;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}


/* Visítanos CSS */

.main_div_nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.location_div{
    padding: 20px;
}



/*RESPONSIVE DESIGN PHONES*/

/* Responsive Index */
@media screen and (max-width: 414px) {
    
.main_nav{
        height: auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: medium;
    }
    
    .nav_el {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 10px;
            
    }

    .specific_nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
    }

    .specific_nav a{
        font-size: medium;
        margin-right: 15px;
        margin-left: 5px;
    }
    
    .button_left, .button_right{
        display: none;
    }
    

    .sample_img{
        height: 300px;
        width: 300px;
        margin-left: 30px;
        padding: 20px;
    }

    .carrito a, .specs_div a{
        font-size: medium;
        
    }

    .img_div_column{
        margin-bottom: 20px;
    }
    .carrito, .specs_div{
        margin-top: 20px;
    }

    .main_h3{
        background-color: gray;
        opacity: 0.7;
        color: rgba(255, 255, 255);
        font-size: medium;
    }

    .main_div_customer{
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .iframe_div{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .iframe_div iframe{
        width: 100vw;
        height: 100vw;
        padding: 10px;
        margin-right: 50px;  
    }

    .text_div h3{
        font-size: large;
    }

    .text_div .opinion_cliente{
        font-size: medium;
        
    }

    .text_div{
        width: 100vw;
        height: auto;
        padding: 10px;
    }

   

    /*Responsive products' section*/

    .main_container_products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .main_container_products img{
        width: 320px;
        height: 320px;
        padding: 30px 30px;
    }

    .anadir_div{
        
        width: 300px;
        height: 50px;
    }

    .specs_div{
        
        width: 300px;
        height: 50px;
        
    }

    /* Responsive Visitanos */

    
    .location_div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 300px;
        height: 250px;

        
    }
    
    .location_div iframe{
        
        align-items: flex-end;
        width: 300px;
        height: 250px;
       
    }

    footer{
        margin-top: 50px;
    }
}

/* RESPONSIVE DESIGN TABLETS */
@media screen and (min-width: 414px) and (max-width: 600px) {

    .main_nav{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: large;
    }
    
    .nav_el {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 10px;
            
    }

    .specific_nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .specific_nav a{
        font-size: large;
        margin-right: 15px;
        margin-left: 5px;
    }
    
    .button_left, .button_right{
        display: block;
    }
    
    .img_div_row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 5px;
    }

    .img_div_column{
        width: 220px;
        height: 200px;
        margin-bottom: 20px;
    }

    .sample_img{
        height: 220px;
        width: 220px;
        
    }

    .carrito a, .specs_div a{
        font-size: large;

    }

    .carrito, .specs_div{
        margin-top: 20px;
    }

    .main_h3{
        background-color: gray;
        opacity: 0.7;
        color: rgba(255, 255, 255);
        font-size: large;
        margin-top: 100px;
        
    }

    .main_div_customer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .iframe_div{
        
        position: relative;
        width: 100%;
        height: 50vw;
        overflow: hidden;
    }

    .iframe_div iframe{
       
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
  
    .text_div h3{
        font-size: large;
    }

    .text_div .opinion_cliente{
        font-size: medium;
    }

    .text_div{
        width: 100%;
        height: auto;
        padding: 10px;
    }

    /*Responsive products' section*/

    .main_container_products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .main_container_products img{
        width: 320px;
        height: 320px;
        padding: 30px 30px;
    }

    .anadir_div{
        
        width: 300px;
        height: 50px;
    }

    .specs_div{
        
        width: 300px;
        height: 50px;
    }

    /* Responsive Visitanos */

    
    .location_div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 300px;
        height: 250px;

        
    }
    
    .location_div iframe{
    
        width: 300px;
        height: 250px;
       
    }

    footer{
        margin-top: 50px;
    }
}


